/* Đặt dropdown bám vào SHOP */
.header-nav ul li.dropdown {
  position: relative;
}

/* Menu con */
.header-nav ul li .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%; /* ngay dưới chữ SHOP */
  left: -530px; /* canh trái theo chữ SHOP */
  background-color: #222;
  min-width: 180px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
  border: 1px solid #333;
  border-radius: 6px;
  z-index: 9999;
  text-align: left;
}

/* Giữ nguyên item con */
.header-nav ul li .dropdown-menu li a {
  display: block;
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  white-space: nowrap; /* không bị xuống dòng */
}

.header-nav ul li .dropdown-menu li a:hover {
  background-color: #333;
  color: #aaa;
}

/* Hiện menu khi hover */
.header-nav ul li.dropdown:hover .dropdown-menu {
  display: block;
}
