*{
    margin: 0;
    padding: 0;
}
html {
  scroll-behavior: smooth; /* Tạo hiệu ứng cuộn mượt */
}
/* Header */
header{
    height: 60px;
    background-color: #1b1818;
    opacity: 70%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
.menu-icon2, .Log-in-Menu a, .Cart-Menu a{
    display: flex;
}
header ul{
    list-style: none;
    display: flex;

}
header ul li, .Log-in-Menu, .Cart-Menu, .search-form{
    padding: 20px;
}   
header ul li a, .Log-in-Menu a, .Cart-Menu a{
    text-decoration: none;
    color: white;
}

header .menu-icon1 img{
    width: 150px;
    height: 90px;
    padding-top: 10px;
    padding-left: 40px;
}
.Log-in-Menu p, .Cart-Menu p{
    padding-left: 10px;
}
.Log-in-Menu {
    width: 80px;
}
.Cart-Menu{
    width: 50px;
}
.search-form input{
    border: none;
    border-bottom: #ffffff 2px solid;
    background-color: #1b1818;
    height: 25px;
    text-align: center;
    color: whitesmoke;
}
header ul li a:hover, .Log-in-Menu a:hover, .Cart-Menu a:hover{
    color: #ff9800;
    font-weight: bold;
    transform: scale(1.05);
    transition: transform 0.3s;
} 
.search-form input:hover{
    border-color: #ff9800;
    font-weight: bold;
    transform: scale(1.05);
    transition: transform 0.3s;
}
.menu-icon2 {
    position: relative; /* Đặt vị trí tương đối để chứa dropdown */
}
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%; /* ngay dưới mục cha */
    background-color: rgba(0,0,0,0.8);
    width: 200px;
    z-index: 10;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content li a:hover {
    background-color: rgba(255,255,255,0.2);
}
/* End Header */
/* Bo cuc Body1 */
section{
    color: #1b1818;
}
.body1{
    display:flex;
    padding-top: 60px;
    background-image: url(/image/banner-1.jpg);
    background-size: cover;
}
.sidebar{
    padding-top: 60px;
    padding-left: 30px;
    position: fixed;
}
.Container{
    margin-left: 225px;
    padding-left: 20px;
    width: 100%;
    padding-top: 10px;
    background-color: #1b1818;
    color: #ffffff;
    opacity: 90%;
    padding-right: 40px;
    padding-left: 40px;
    
}
/* Sidebar */
.sidebar h2{
    width: 180px;
    font-size: 20px;
}
.sidebar ul{
    list-style: none;
    padding: 5px;
}
.sidebar hr{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 15px;
    border: 1.5px solid #000000;
}
.sidebar li a{
    text-decoration: none;
    color: #111;
}
.sidebar li{
    padding-bottom: 8px ;
}
/* End Sidebar */
/* Container */
.link{
    display: flex;
    gap: 10px;
    padding-top: 5px;
}
.Main{
    display: flex;
    justify-content:space-between;
    padding-top: 15px;
}
.PrevNext{
    display: flex;
    gap: 10px;
}
/* End Container */
/* Name : All-Products*/
.Sort{
    padding-bottom: 10px;
}
.Sort p{
    padding-bottom:5px ;
}
.Sort select{
    background-color: transparent;
    color: #ffffff;
    border: 1px solid white;
    height: 25px  ;
    width: 150px;
}
.Container hr{
    margin-top: 20px;
}
/* End Name */
/* Product */
.Showproduct{
    color: #ffffff;
    padding: 10px;
}
.Moreproduct{
    display: flex;
    flex-wrap: wrap;
    color: white;
    padding-top: 20px;
    gap: 80px;
    padding-right: 40px;
}
.More_productx{
    width: 200px;
    height: 250px;
    margin: 0 auto;
    text-align: center;
}
.More_productx img{
    width: 200px;
    height: 200px;
}
.More_productx h3{
    font-size: 20px;
    padding-top: 10px;
}
.More_productx p{
    padding-top: 10px;
}
.More_productx hr{
    border: 1.5px solid #ffffff;
}
.More_productx:hover{
    transform: scale(1.05);
    transition: transform 0.3s;
}
.More_productxm h3:hover, .More_productx p:hover{
    color: #ff9800;
    font-weight: bold;
}
.PrevNext{
    justify-content: right;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-top: 100px;
}
/* End Product */
/* Footer */
footer {
    background-color: #111;
    padding: 30px 20px;
    text-align: center;
    }
.social-icons {
    margin-bottom: 20px;
}
.social-icons a {
    display: inline-flex;
    align-items: center; /* dọc */
    justify-content: center; /* ngang */
    width: 40px;
    height: 40px;
    margin: 0 8px;
    background-color: #fff;
    color: #111;
    border-radius: 50%;
    transition: all 0.3s ease;
    text-decoration: none;
    animation: xxx 1.5s infinite alternate;
}
@keyframes xxx {
    from {
        transform: translateY(-9px);
    }
    to {
        transform: translateY(3px);
    }
}
.social-icons a:hover {
    transform: translateY(-3px);
    background-color: #ff9800;
    color: #fff;
}
.footer-menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* tự động xuống dòng*/
    gap: 20px;
}
.footer-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}
.footer-menu a:hover {
    color: #ff9800;
}
.copyright {
    font-size: 18px;
    color: #ccc;
    margin-top: 15px;
}
.copyright span {
    color: #ff9800;
    font-weight: bold;
}
/* End footer */

